/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color: #f5f7f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
.testomnials-wrapper {
  width: 340px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  margin-inline: auto;
  padding: 24.5px;
  max-height: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.truncate-long {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header figure {
  display: flex;
  gap: 1rem;
}
img {
  width: 48px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.testomnials-wrapper h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.testomnials-wrapper p {
  font-size: 1rem;
  color: #525252;
}
@media all and (max-width: 375px) {
  .credits {
    font-size: 10px;
  }
}
